In [28]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import warnings 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler 
warnings.filterwarnings('ignore')

In [29]:
train_data = pd.read_csv('train.csv')

In [30]:
train_data

,ID,electricity_kwh_per_month,natural_gas_therms_per_month,vehicle_miles_per_month,house_area_sqft,water_usage_liters_per_day,public_transport_usage_per_week,household_size,home_insulation_quality,meat_consumption_kg_per_week,laundry_loads_per_week,recycles_regularly,composts_organic_waste,uses_solar_panels,energy_efficient_appliances,heating_type,diet_type,owns_pet,smart_thermostat_installed,carbon_footprint
0,0xd6c,759.70,55.95,944.55,2422.07,541.27,1,3,2,4.23,9,1.0,0.0,0,1.0,gas,vegetarian,1,NaN,830.10
1,0x3fdf,387.06,70.59,1280.85,1995.3,280.39,1,2,1,3.27,8,0.0,0.0,0,0.0,electric,vegetarian,0,0.0,963.08
2,0x3b08,594.25,29.14,1005.72,2673.55,416.14,0,2,3,2.87,3,0.0,1.0,0,1.0,electric,omnivore,1,1.0,840.11
3,0x31e5,503.76,74.68,1049.46,2994.28,530.13,0,5,1,3.22,9,1.0,0.0,0,0.0,electric,omnivore,1,0.0,1252.42
4,0x397e,549.54,-77.00,756.49,2549.57,604.10,5,4,4,2.92,2,1.0,0.0,0,1.0,electric,vegetarian,0,1.0,580.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13995,0x4aaa,324.96,43.37,438.36,1514.05,419.48,3,1,2,3.17,7,0.0,0.0,0,0.0,electric,omnivore,1,1.0,865.07
13996,0x36c3,581.19,83.50,1865.29,3357.9,651.11,0,1,3,6.60,3,1.0,1.0,0,0.0,gas,omnivore,1,0.0,1594.70
13997,0x3846,302.76,43.36,212.42,939.08,343.67,9,1,2,3.07,3,1.0,0.0,1,0.0,gas,omnivore,1,1.0,712.94
13998,0x4ba4,397.77,14.80,592.66,1164.04,271.67,2,7,0,2.48,4,1.0,0.0,1,0.0,gas,vegetarian,0,0.0,533.65
13999,0x2dc0,513.10,27.90,923.98,1956.39,459.84,0,1,4,1.94,4,1.0,0.0,0,1.0,electric,omnivore,1,0.0,720.93

In [31]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14000 entries, 0 to 13999
Data columns (total 20 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               14000 non-null  object
 1   electricity_kwh_per_month        14000 non-null  float64
 2   natural_gas_therms_per_month     14000 non-null  float64
 3   vehicle_miles_per_month          14000 non-null  float64
 4   house_area_sqft                  14000 non-null  object
 5   water_usage_liters_per_day       14000 non-null  float64
 6   public_transport_usage_per_week  14000 non-null  int64
 7   household_size                   14000 non-null  object
 8   home_insulation_quality          14000 non-null  int64
 9   meat_consumption_kg_per_week     14000 non-null  float64
 10  laundry_loads_per_week           14000 non-null  int64
 11  recycles_regularly               13590 non-null  float64
 12  composts_organic_waste           13610 non-null  float64
 13  uses_solar_panels                14000 non-null  int64
 14  energy_efficient_appliances      13569 non-null  float64
 15  heating_type                     14000 non-null  object
 16  diet_type                        14000 non-null  object
 17  owns_pet                         14000 non-null  int64
 18  smart_thermostat_installed       13584 non-null  float64
 19  carbon_footprint                 14000 non-null  float64
dtypes: float64(10), int64(5), object(5)
memory usage: 2.1+ MB

In [32]:
train_data.describe()

,electricity_kwh_per_month,natural_gas_therms_per_month,vehicle_miles_per_month,water_usage_liters_per_day,public_transport_usage_per_week,home_insulation_quality,meat_consumption_kg_per_week,laundry_loads_per_week,recycles_regularly,composts_organic_waste,uses_solar_panels,energy_efficient_appliances,owns_pet,smart_thermostat_installed,carbon_footprint
count,14000.000000,14000.000000,14000.000000,14000.000000,14000.000000,14000.000000,14000.000000,14000.000000,13590.000000,13610.000000,14000.000000,13569.000000,14000.000000,13584.000000,14000.000000
mean,389.866107,47.588121,796.046458,385.497657,3.271357,3.003857,3.008954,5.005571,0.706034,0.393608,0.199571,0.498784,0.500143,0.301899,776.046010
std,119.070653,25.098685,340.217925,127.034232,2.942215,1.147641,1.464928,2.568548,0.455593,0.488568,0.399692,0.500017,0.500018,0.459099,190.432709
min,-99.000000,-99.000000,-1567.182896,-99.000000,-14.000000,-4.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,310.000000
25%,325.067500,35.410000,587.525000,322.547500,1.000000,2.000000,1.980000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,631.065000
50%,394.995000,49.205000,792.885000,395.325000,3.000000,3.000000,2.990000,5.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,763.725000
75%,464.440000,62.872500,1003.462500,464.652500,5.000000,4.000000,4.000000,7.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,905.910000
max,786.890000,116.950000,2697.807683,885.940000,17.000000,9.000000,8.440000,9.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1610.000000

In [33]:
train_data.isnull().sum()

ID                                   0
electricity_kwh_per_month            0
natural_gas_therms_per_month         0
vehicle_miles_per_month              0
house_area_sqft                      0
water_usage_liters_per_day           0
public_transport_usage_per_week      0
household_size                       0
home_insulation_quality              0
meat_consumption_kg_per_week         0
laundry_loads_per_week               0
recycles_regularly                 410
composts_organic_waste             390
uses_solar_panels                    0
energy_efficient_appliances        431
heating_type                         0
diet_type                            0
owns_pet                             0
smart_thermostat_installed         416
carbon_footprint                     0
dtype: int64

In [35]:
train_data['house_area_sqft'] = train_data['house_area_sqft'].str.extract('(\d+)')
train_data = train_data.dropna(subset=(['house_area_sqft']))
train_data['house_area_sqft'] = train_data['house_area_sqft'].astype(float)

In [37]:
train_data['household_size'] = train_data['household_size'].str.extract('(\d+)')
train_data = train_data.dropna(subset=['household_size'])
train_data['household_size'] = train_data['household_size'].astype(float)

In [38]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13502 entries, 0 to 13999
Data columns (total 20 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               13502 non-null  object
 1   electricity_kwh_per_month        13502 non-null  float64
 2   natural_gas_therms_per_month     13502 non-null  float64
 3   vehicle_miles_per_month          13502 non-null  float64
 4   house_area_sqft                  13502 non-null  float64
 5   water_usage_liters_per_day       13502 non-null  float64
 6   public_transport_usage_per_week  13502 non-null  int64
 7   household_size                   13502 non-null  float64
 8   home_insulation_quality          13502 non-null  int64
 9   meat_consumption_kg_per_week     13502 non-null  float64
 10  laundry_loads_per_week           13502 non-null  int64
 11  recycles_regularly               13109 non-null  float64
 12  composts_organic_waste           13131 non-null  float64
 13  uses_solar_panels                13502 non-null  int64
 14  energy_efficient_appliances      13089 non-null  float64
 15  heating_type                     13502 non-null  object
 16  diet_type                        13502 non-null  object
 17  owns_pet                         13502 non-null  int64
 18  smart_thermostat_installed       13106 non-null  float64
 19  carbon_footprint                 13502 non-null  float64
dtypes: float64(12), int64(5), object(3)
memory usage: 2.2+ MB

In [39]:
numerical_features = [value for value in list(train_data.columns) if not isinstance(train_data[value][0],str)]
categorical_features = [value for value in list(train_data.columns) if isinstance(train_data[value][0],str)]

In [40]:
def corelation_heatmap(data,features):
  corr_matrix = data[features].corr()
  plt.figure(figsize=(10, 6), facecolor="white")
  sns.set_style("whitegrid")
  ax = sns.heatmap(
      corr_matrix,
      annot=True,
      fmt=".2f",
      cmap="coolwarm",
      linewidths=0.5,
      linecolor="black",
      annot_kws={"size": 12, "weight": "bold"},
      cbar_kws={"shrink": 0.8, "aspect": 40}
  )
  plt.title("Correlation Heatmap", fontsize=16, fontweight="bold", pad=15)
  plt.xticks(rotation=45, ha="right", fontsize=10, fontweight="bold", color="black")
  plt.yticks(fontsize=10, fontweight="bold", color="black")
  plt.tight_layout()
  plt.show()

['electricity_kwh_per_month',
 'natural_gas_therms_per_month',
 'vehicle_miles_per_month',
 'house_area_sqft',
 'water_usage_liters_per_day',
 'public_transport_usage_per_week',
 'household_size',
 'home_insulation_quality',
 'meat_consumption_kg_per_week',
 'laundry_loads_per_week',
 'recycles_regularly',
 'composts_organic_waste',
 'uses_solar_panels',
 'energy_efficient_appliances',
 'owns_pet',
 'smart_thermostat_installed',
 'carbon_footprint']